.card {
    border-radius: 15px;
    background-color: var(--whitesmoke);
    box-shadow: 0px 0px 11px -7px black;
}

.card ul {
    padding-left: 0;
    margin: 0;
}

.card ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #c1c1c1;
}

.card ul li button {
    margin-left: 15px;
}

.entryControls {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}